name: Production Deployment
on:
  push:
    branches: [main]
jobs:

  converge:
    name: Converge
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
  
      - name: Create values file with secrets
        run: |
          echo "mongoHost: ${{ secrets.MONGO_HOST }}" >> values.yaml
          echo "mongoPassword: ${{ secrets.MONGO_PASSWORD }}" >> values.yaml
          echo "tgToken: ${{ secrets.TG_TOKEN }}" >> values.yaml

      - name: Converge
        uses: werf/actions/converge@v1.2
        with:
          env: production
          kube-config-base64-data: ${{ secrets.KUBE_CONFIG_BASE64_DATA }}
        env:
          WERF_SET_ENV_URL: "envUrl=http://example.com"
          MONGO_HOST: ${{ secrets.MONGO_HOST }}
          MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
